-- MySQL dump 10.13  Distrib 8.0.36, for Win64 (x86_64)
--
-- Host: localhost    Database: absensimb_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensi_guru`
--

DROP TABLE IF EXISTS `absensi_guru`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi_guru` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `guru_id` bigint(20) NOT NULL,
  `tanggal` date NOT NULL,
  `waktu_absen` timestamp NOT NULL DEFAULT current_timestamp(),
  `foto_path` varchar(255) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `guru_id` (`guru_id`,`tanggal`),
  CONSTRAINT `absensi_guru_ibfk_1` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_guru`
--

LOCK TABLES `absensi_guru` WRITE;
/*!40000 ALTER TABLE `absensi_guru` DISABLE KEYS */;
INSERT INTO `absensi_guru` VALUES (1,1,'2026-04-21','2026-04-20 21:24:26','./uploads/PasFoto.jpeg',-6.34177800,106.55852600),(2,16,'2026-05-11','2026-05-11 09:08:40','./uploads/absen.jpg',-6.34180800,106.55852500),(5,16,'2026-05-13','2026-05-13 09:18:32','./uploads/absen.jpg',-6.34180800,106.55852500);
/*!40000 ALTER TABLE `absensi_guru` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `absensi_session`
--

DROP TABLE IF EXISTS `absensi_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi_session` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `guru_id` bigint(20) NOT NULL,
  `kelas_id` bigint(20) NOT NULL,
  `mapel_id` bigint(20) NOT NULL,
  `qr_token` varchar(255) NOT NULL,
  `expired_at` datetime NOT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `radius_meter` int(11) DEFAULT 50,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_closed` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `guru_id` (`guru_id`),
  KEY `kelas_id` (`kelas_id`),
  KEY `mapel_id` (`mapel_id`),
  KEY `qr_token` (`qr_token`),
  CONSTRAINT `absensi_session_ibfk_1` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `absensi_session_ibfk_2` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `absensi_session_ibfk_3` FOREIGN KEY (`mapel_id`) REFERENCES `mata_pelajaran` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_session`
--

LOCK TABLES `absensi_session` WRITE;
/*!40000 ALTER TABLE `absensi_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `absensi_siswa`
--

DROP TABLE IF EXISTS `absensi_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensi_siswa` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `session_id` bigint(20) NOT NULL,
  `siswa_id` bigint(20) NOT NULL,
  `waktu_absen` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('hadir','terlambat','izin','alpa') DEFAULT 'hadir',
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_id` (`session_id`,`siswa_id`),
  UNIQUE KEY `unique_session_siswa` (`session_id`,`siswa_id`),
  KEY `siswa_id` (`siswa_id`),
  CONSTRAINT `absensi_siswa_ibfk_1` FOREIGN KEY (`session_id`) REFERENCES `absensi_session` (`id`) ON DELETE CASCADE,
  CONSTRAINT `absensi_siswa_ibfk_2` FOREIGN KEY (`siswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensi_siswa`
--

LOCK TABLES `absensi_siswa` WRITE;
/*!40000 ALTER TABLE `absensi_siswa` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensi_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catatan_siswa`
--

DROP TABLE IF EXISTS `catatan_siswa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catatan_siswa` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `guru_id` bigint(20) NOT NULL,
  `siswa_id` bigint(20) NOT NULL,
  `kelas_id` bigint(20) NOT NULL,
  `catatan` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `guru_id` (`guru_id`,`siswa_id`,`kelas_id`),
  KEY `idx_catatan_siswa_id` (`siswa_id`),
  KEY `idx_catatan_guru_id` (`guru_id`),
  KEY `idx_catatan_kelas_id` (`kelas_id`),
  CONSTRAINT `catatan_siswa_ibfk_1` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `catatan_siswa_ibfk_2` FOREIGN KEY (`siswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `catatan_siswa_ibfk_3` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catatan_siswa`
--

LOCK TABLES `catatan_siswa` WRITE;
/*!40000 ALTER TABLE `catatan_siswa` DISABLE KEYS */;
INSERT INTO `catatan_siswa` VALUES (3,2,15,1,'Siswa sangat aktif dan rajin','2026-05-13 05:14:05','2026-05-13 05:14:05'),(4,2,17,1,'Perlu bimbingan tambahan di bab jaringan','2026-05-13 05:14:05','2026-05-13 05:14:05'),(5,16,1,1,'KEREN','2026-05-13 09:01:35','2026-05-13 09:01:35');
/*!40000 ALTER TABLE `catatan_siswa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `guru_mapel_kelas`
--

DROP TABLE IF EXISTS `guru_mapel_kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guru_mapel_kelas` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `guru_id` bigint(20) NOT NULL,
  `kelas_id` bigint(20) NOT NULL,
  `mapel_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `guru_id` (`guru_id`),
  KEY `kelas_id` (`kelas_id`),
  KEY `mapel_id` (`mapel_id`),
  CONSTRAINT `guru_mapel_kelas_ibfk_1` FOREIGN KEY (`guru_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `guru_mapel_kelas_ibfk_2` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `guru_mapel_kelas_ibfk_3` FOREIGN KEY (`mapel_id`) REFERENCES `mata_pelajaran` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `guru_mapel_kelas`
--

LOCK TABLES `guru_mapel_kelas` WRITE;
/*!40000 ALTER TABLE `guru_mapel_kelas` DISABLE KEYS */;
INSERT INTO `guru_mapel_kelas` VALUES (1,1,1,1),(2,16,1,1),(3,16,2,1),(4,1,3,2);
/*!40000 ALTER TABLE `guru_mapel_kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurusan`
--

DROP TABLE IF EXISTS `jurusan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jurusan` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurusan`
--

LOCK TABLES `jurusan` WRITE;
/*!40000 ALTER TABLE `jurusan` DISABLE KEYS */;
INSERT INTO `jurusan` VALUES (1,'Teknik Komputer Jaringan'),(2,'Teknik Komputer dan Jaringan'),(3,'Rekayasa Perangkat Lunak'),(4,'Akuntansi');
/*!40000 ALTER TABLE `jurusan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `jurusan_id` bigint(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `jurusan_id` (`jurusan_id`),
  CONSTRAINT `kelas_ibfk_1` FOREIGN KEY (`jurusan_id`) REFERENCES `jurusan` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
INSERT INTO `kelas` VALUES (1,'X TKJ 1',1,'2026-04-19 19:54:35'),(2,'TKJ 1',1,'2026-05-13 05:05:26'),(3,'TKJ 2',1,'2026-05-13 05:05:26'),(4,'RPL 1',2,'2026-05-13 05:05:26'),(5,'RPL 2',2,'2026-05-13 05:05:26'),(6,'AK 1',3,'2026-05-13 05:05:26');
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mata_pelajaran`
--

DROP TABLE IF EXISTS `mata_pelajaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mata_pelajaran` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mata_pelajaran`
--

LOCK TABLES `mata_pelajaran` WRITE;
/*!40000 ALTER TABLE `mata_pelajaran` DISABLE KEYS */;
INSERT INTO `mata_pelajaran` VALUES (1,'Matematika'),(2,'Produktif TKJ'),(3,'Basis Data'),(4,'Pemrograman Web'),(5,'Akuntansi Dasar'),(6,'Matematika');
/*!40000 ALTER TABLE `mata_pelajaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `siswa_kelas`
--

DROP TABLE IF EXISTS `siswa_kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `siswa_kelas` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `siswa_id` bigint(20) NOT NULL,
  `kelas_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `siswa_id` (`siswa_id`),
  KEY `kelas_id` (`kelas_id`),
  CONSTRAINT `siswa_kelas_ibfk_1` FOREIGN KEY (`siswa_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `siswa_kelas_ibfk_2` FOREIGN KEY (`kelas_id`) REFERENCES `kelas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `siswa_kelas`
--

LOCK TABLES `siswa_kelas` WRITE;
/*!40000 ALTER TABLE `siswa_kelas` DISABLE KEYS */;
INSERT INTO `siswa_kelas` VALUES (1,1,1),(2,15,1),(3,17,1),(4,18,1),(5,19,1),(6,20,1),(7,21,1);
/*!40000 ALTER TABLE `siswa_kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher_invitations`
--

DROP TABLE IF EXISTS `teacher_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher_invitations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expired_at` datetime NOT NULL,
  `status` enum('pending','used') DEFAULT 'pending',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher_invitations`
--

LOCK TABLES `teacher_invitations` WRITE;
/*!40000 ALTER TABLE `teacher_invitations` DISABLE KEYS */;
INSERT INTO `teacher_invitations` VALUES (1,'guru1@gmail.com','0f763649-58fc-40ab-a3de-03c17aa52c83','2026-04-23 15:25:34','used','2026-04-22 08:25:34'),(2,'guru2@gmail.com','c475ff88-b4a9-41f8-8d86-0fe9e8f8ee6c','2026-04-23 16:22:48','used','2026-04-22 09:22:48'),(3,'guru3@gmail.com','bdee95fe-af7a-407f-adcf-93b6d164ca4f','2026-04-24 01:17:41','used','2026-04-22 18:17:41'),(5,'bulinda@gmail.com','c172c4dc-da57-42f8-addb-02a432787c63','2026-04-26 15:56:01','used','2026-04-25 08:56:01');
/*!40000 ALTER TABLE `teacher_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','guru','siswa') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `phone` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-04 16:22:28
